body {
  margin: 0;
}

.login {
  background-image: url(../imgs/bg.png);
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login h2 {
  font-family: "Holtwood One SC", serif;
  color: white;
  font-size: 70px;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

::placeholder {
  color: #00034e;
}

.login input {
  font-family: "PT Mono", monospace;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  font-size: 32px;
  color: #00034e;
  width: 87%;
}

.login p {
  font-family: "PT Mono", monospace;
  font-size: 16px;
  color: white;
}

.login a:link,
.login a:visited {
  text-decoration: none;
  color: white;
}

.login a:hover,
.login a:active {
  text-decoration: underline;
}

.login .right {
  text-align: right;
  margin-right: 30px;
}

.login #black_arrow {
  display: none;
}

.login button {
  font-family: "PT Mono", monospace;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50px;
  padding: 6px 60px;
  font-size: 27px;
  color: white;
  margin: 0 auto;
  display: block;
  margin-bottom: 80px;
}

.login button:hover {
  background-color: rgb(201, 201, 201);
  border: 2px solid black;
  cursor: pointer;
  color: black;
  #white_arrow {
    display: none;
  }
  #black_arrow {
    display: inline-block;
  }
  transition-duration: 1s;
}

.login .container {
  padding: 0 30px;
  width: 500px;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Media queries for different screen widths */

@media (max-width: 800px) {
  /* Styles for screens up to 800px width */
  .login .container {
    width: 55%;
  }
}

@media (max-width: 450px) {
  /* Styles for screens up to 450px width */
  .login .container {
    width: 70%;
  }
  .login h2 {
    font-size: 50px;
  }
  .login input {
    font-size: 20px;
  }
  .login p {
    font-size: 12px;
  }
  .login button {
    font-size: 18px;
    margin: 0 auto;
    display: block;
    padding: 4px 32px;
  }
  .login img {
    width: 32px;
  }
}

@media (max-width: 380px) {
  /* Styles for screens up to 360px width */
  .login .container {
    width: 75%;
  }
  .login h2 {
    font-size: 36px;
  }
  .login input {
    font-size: 16px;
  }
  .login p {
    font-size: 12px;
  }
  .login button {
    font-size: 16px;
    margin: 0 auto 20px auto;
    display: block;
    padding: 2px 25px;
    border: 1px solid white;
  }
  .login img {
    width: 28px;
  }
  .login p {
    font-size: 10px;
  }
}
