body {
    background-image: url(../imgs/bgmain.png);
    background-size: cover;
  }
  
  .container {
    width: 627px;
    height: 295px;
    margin: 200px auto 100px auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    box-shadow: 25px 25px 0 2px rgba(255, 255, 255, 0.25);
  }
  #upper {
    background-color: white;
    border-radius: 50px 50px 0 0;
    padding: 15px 25px;
    display: flex;
  }
  #icon {
    font-size: 40px;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 11px;
  }
  #user {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    margin: 5px 0;
  }
  #option {
    font-family: "Milonga", cursive;
    font-size: 24px;
    width: 455px;
    margin: 5px 0;
  }
  #upper span {
    font-size: 40px;
  }
  
  #msg {
    border: none;
    outline: none;
    background-color: transparent;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    color: #323232;
    padding: 25px;
    width: 580px;
  }
  
  ::placeholder {
    color: #323232;
  }
  
  #black_arrow {
    display: none;
  }
  
  #buttons {
    width: fit-content;
    margin: 0 auto;
  }
  .btn {
    padding: 6px 30px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50px;
    font-size: 30px;
    color: white;
    font-family: "PT Mono", monospace;
  }
  
  .btn:hover {
    background-color: rgb(201, 201, 201);
    border: 2px solid black;
    cursor: pointer;
    color: black;
    #white_arrow {
      display: none;
    }
    #black_arrow {
      display: inline-block;
    }
    transition-duration: 1s;
  }
  
  #sugg {
    margin-right: 60px;
  }
  
  @media (max-width: 800px) {
    .container {
      width: 70%;
      max-width: 627px;
    }
    #upper{
      padding: 6px 14px;
    }
  
    #icon{
      font-size: 30px;
    }
    #user{
      font-size: 12px;
    }
    #option{
      width: 390px;
      font-size: 20px;
    }
    #upper span{
      font-size: 30px;
    }
  
    #msg {
      width: 90%;
      font-size: 20px;
    }
  
    #buttons {
      flex-wrap: wrap;
    }
  
    .btn {
      flex: 1;
      margin: 5px;
      font-size: 24px;
    }
    img{
      width: 46px;
    }
  }
  
  @media (max-width: 450px) {
    .container {
      border-radius: 25px;
      box-shadow: 10px 10px 0 2px rgba(255, 255, 255, 0.25);
      width: 90%;
      height: 200px;
      margin: 120px auto 50px auto;
    }
    #upper {
      padding: 8px 10px;
      border-radius: 25px 25px 0 0;
    }
    #icon {
      font-size: 24px;
      margin: 8px 10px 0 5px;
    }
    #user {
      font-size: 10px;
      margin: 0;
    }
    #option {
      font-size: 16px;
      width: 270px;
      margin: 0;
    }
    #upper span {
      font-size: 24px;
    }
    #msg {
      font-size: 14px;
      width: 90%;
      padding: 15px;
    }
    .btn {
      font-size: 18px;
      border: 1px solid white;
      padding: 4px 22px;
    }
    img{
      width: 34px;
    }
  }
  
  @media (max-width: 380px) {
    .container {
      border-radius: 25px;
      box-shadow: 10px 10px 0 2px rgba(255, 255, 255, 0.25);
      width: 95%;
      height: 200px;
      margin: 120px auto 50px auto;
    }
    #upper {
      padding: 8px 10px;
      border-radius: 25px 25px 0 0;
    }
    #icon {
      font-size: 16px;
      margin: 4px 10px 0 5px;
    }
    #user {
      font-size: 8px;
      margin: 0;
    }
    #option {
      font-size: 14px;
      width: 255px;
      margin: 0;
    }
    #upper span {
      font-size: 16px;
    }
    #msg {
      font-size: 14px;
      width: 90%;
      padding: 15px;
    }
    .btn {
      font-size: 16px;
      border: 1px solid white;
      padding: 2px 16px;
    }
    img{
      width: 22px;
    }
    #sugg{
      margin-right: 30px;
    }
  }
  
  @media (max-width: 340px) {
    #option{
      width: 215px;
    }
  }