body {
  background-image: url(bg.png);
  background-size: cover;
}
.strip {
  color: white;
  background-color: black;
  width: 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  overflow: hidden;
  position: fixed;
  font-size: 22px;
}

h2 {
  font-family: "Holtwood One SC", serif;
  color: white;
  font-size: 70px;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

::placeholder {
  color: #00034e;
}

input {
  font-family: "PT Mono", monospace;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  font-size: 32px;
  color: #00034e;
  width: 87%;
}

p {
  font-family: "PT Mono", monospace;
  font-size: 16px;
  color: white;
}

a:link,
a:visited {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  text-decoration: underline;
}

.right {
  text-align: right;
  margin-right: 30px;
}

#toggleButton {
  position: absolute;
  top: 49%;
  right: -15px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

#retoggleButton {
  position: absolute;
  top: 62%;
  right: -15px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

#loginToggleButton {
  position: absolute;
  top: 54%;
  right: -15px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.fa-eye-slash {
  display: none;
}

button {
  font-family: "PT Mono", monospace;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50px;
  padding: 6px 60px;
  font-size: 27px;
  color: white;
  margin: 0 auto; /* Center the button horizontally */
  display: block; /* Ensure button occupies full width of container */
  margin-bottom: 80px;
}

button:hover {
  background-color: rgb(201, 201, 201);
  border: 1px solid black;
  cursor: pointer;
  transition-duration: 1s;
}

.container {
  margin: 60px auto;
  padding: 0 30px;
  width: 500px;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Media queries for different screen widths */

@media (max-width: 800px) {
  /* Styles for screens up to 800px width */
  .container {
    width: 90%;
  }
}

@media (max-width: 580px) {
  /* Styles for screens up to 580px width */
  .container {
    width: 85%;
  }
  button {
    margin-left: 0;
    margin-top: 10px;
  }
}

@media (max-width: 450px) {
  /* Styles for screens up to 450px width */
  .container {
    width: 80%;
  }
  h2 {
    font-size: 32px;
  }
  input {
    font-size: 24px;
  }
  button {
    font-size: 20px;
    margin: 0 auto;
    display: block;
  }
}

@media (max-width: 360px) {
  /* Styles for screens up to 360px width */
  .container {
    width: 75%;
  }
  h2 {
    font-size: 28px;
  }
  input {
    font-size: 20px;
  }
  button {
    font-size: 18px;
    margin: 0 auto;
    display: block;
  }
  p {
    font-size: 16px;
  }
}
