body {
  background-image: url(bg.png);
  background-size: cover;
}

h2 {
  font-family: "Holtwood One SC", serif;
  color: white;
  font-size: 70px;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

::placeholder {
  color: #00034e;
}

input {
  font-family: "PT Mono", monospace;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  font-size: 32px;
  color: #00034e;
  width: 87%;
}

p {
  font-family: "PT Mono", monospace;
  font-size: 16px;
  color: white;
}

a:link,
a:visited {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  text-decoration: underline;
}

.right {
  text-align: right;
  margin-right: 30px;
}

#black_arrow {
  display: none;
}

button {
  font-family: "PT Mono", monospace;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50px;
  padding: 6px 60px;
  font-size: 27px;
  color: white;
  margin: 0 auto; /* Center the button horizontally */
  display: block; /* Ensure button occupies full width of container */
  margin-bottom: 80px;
}

button:hover {
  background-color: rgb(201, 201, 201);
  border: 2px solid black;
  cursor: pointer;
  color: black;
  #white_arrow{
    display: none;
  }
  #black_arrow{
    display: inline-block;
  }
  transition-duration: 1s;
}

.container {
  margin: 60px auto;
  padding: 0 30px;
  width: 500px;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Media queries for different screen widths */

@media (max-width: 800px) {
  /* Styles for screens up to 800px width */
  .container {
    width: 55%;
  }
}


@media (max-width: 450px) {
  /* Styles for screens up to 450px width */
  .container {
    width: 70%;
  }
  h2 {
    font-size: 50px;
  }
  input {
    font-size: 20px;
  }
  p{
    font-size: 12px;
  }
  button {
    font-size: 18px;
    margin: 0 auto;
    display: block;
    padding: 4px 32px;
  }
  img{
    width: 32px;
  }
}

@media (max-width: 380px) {
  /* Styles for screens up to 360px width */
  .container {
    width: 75%;
  }
  h2 {
    font-size: 36px;
  }
  input {
    font-size: 16px;
  }
  p{
    font-size: 12px;
  }
  button {
    font-size: 16px;
    margin: 0 auto 20px auto;
    display: block;
    padding: 2px 25px;
    border: 1px solid white;
  }
  img{
    width: 28px;
  }
  p {
    font-size: 10px;
  }
}
